<div class="col-sm-6 mx-auto">
    <form (ngSubmit)="onSubmit()">
      <input type="hidden" name="id" [(ngModel)]="parkingSpace.id">
  
      <div class="form-row">
  
        <!-- parkingtype -->
        <div class="col-md-6">
          <div class="col-auto my-2">
            <label for="parkingType">Parking Type</label>
            <select
              class="custom-select mr-sm-2"
              name="parkingType"
              [(ngModel)]="parkingSpace.parkingTypeId"
              id="parkingType">
                <option *ngFor="let p of parkingTypes" [value]="p.id">{{ p.type }}</option>
            </select>
          </div>
        </div>
  
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>